body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  overflow-y: scroll; 
  height: 100vh;
}

.app-info {
  font-size: 1.5rem;
  font-weight: 600;
}

.header {
  margin-bottom: 20px;
}



#output {
  flex: 1;
  white-space: pre-wrap; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;  

}

#input-form,
#username-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#terminal { 
  flex-direction: column; 
  height: 100%;
  max-width: 70%;
  padding: 1rem;
  box-sizing: border-box;
}

.formulaire{
  position: sticky;
  padding-bottom: 1rem;
  left: 0;
  bottom: 0;
  left: 0%;
  right: 0%; 
  background: linear-gradient(to top, var(--terminal-bg)30%, transparent );
  box-sizing: border-bo x;
  margin-bottom: 10rem;
}

.formulaire > form {   
  background:  var(--terminal-bg-50) ;
  backdrop-filter: blur(3px);
  padding: 1rem 0;  
}
.prompt {
  margin-right: 5px;
}

input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
}

a {
  text-decoration: underline;
}

.pre-container {
  flex-direction: row;
  display: flex;
  background: #0000001e;
  padding-left: 0;
  border-radius: 4px;
  margin: 10px 0;
  overflow-x: auto;
}

#line-numbers {
  background-color: #0000001e;
  color: #666;
  padding: 5px 10px;
  text-align: right;
  border-right: 1px solid #3a3a3a;
  font-family: monospace;
  white-space: pre;
  user-select: none;
}

pre {
  flex-grow: 1;
  padding: 5px;
  font-family: monospace;
  min-height: 100px;
  margin: 0;
  white-space: pre-wrap;
}
input[type="text"] {
  margin-left: 0.5rem;
}
/* Syntax highlighting classes */
.string {
  color: #ce9178;
}
.keyword {
  color: #569cd6;
}
.number {
  color: #b5cea8;
}
.comment {
  color: #6a9955;
}
